/* ===== WRAPPER GENERAL ===== */
.perfil-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 10px;
}

/* ===== TITULO ===== */
.perfil-header {
  font-size: 26px;
  font-weight: 600;
  color: #595d68;
  margin-bottom: 20px;
}

/* ===== CARD PRINCIPAL ===== */
.perfil-card {
  width: 100%;
  max-width: 900px;
  background:#ffffff9c;
  border-radius: 14px;
  padding: 25px;
  display: flex;
  gap: 25px;
  box-shadow: 0 4px 12px rgba(12, 11, 11, 0.507);
  border: 1px solid #080808;
}

/* Para pantallas chicas */
@media (max-width: 768px) {
  .perfil-card {
    flex-direction: column;
    align-items: center;
  }
}

/* ===== FOTO DE PERFIL ===== */
.perfil-foto-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.perfil-foto {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #505a64d0;
  background: white;
}

.btn-cambiar-foto {
  background: #505a64d0;
  color: white;
  padding: 8px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.btn-cambiar-foto:hover {
  background: #7ea2d8;
}

.subiendo-texto {
  font-size: 13px;
  color: #1c466e;
  font-weight: 500;
}

/* ===== FORMULARIO ===== */
.perfil-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* ===== INPUTS GENERALES ===== */
.perfil-form input,
.perfil-form select,
.perfil-form textarea {
  width: 100%;
  padding: 10px 12px;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid #454e4be8;
  background: #ffffff;
  transition: 0.25s;
}

.perfil-form input:focus,
.perfil-form select:focus,
.perfil-form textarea:focus {
  outline: none;
  border-color: #1c6e3e;
  box-shadow: 0 0 4px #1c6e3e66;
}

/* ===== TITULOS DE SECCIONES ===== */
.seccion-titulo {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0 5px;
  color: #1c6e3e;
}

/* ===== CHECKBOXES ===== */
.checkbox-item label {
  cursor: pointer;
}

.checkbox-item input:checked {
  accent-color: #1c6e45;
}
