.home-fondo {
  background: #b8a7a79c;
  
  /* El fondo se queda fijo mientras scrolleas */
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.contenido-home {
  background: rgba(255, 255, 255, 0.589);
  padding: 90px;
  border-radius: 10px;
}

.titulo-home {
  font-size: 3rem;
  font-weight: 700;
	color: rgb(0, 0, 0);
  animation: fadeInDown 0.9s ease-out;
  letter-spacing: 1.5px;
}


@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

